In [ ]:
from data_provider.data_loader import DataModule
from exp.exp_model import Model
from utils.exp_logger import Logger
from utils.exp_metrics_plotter import MetricsPlotter
from run_train import get_experiment_name
from utils.utils import set_settings
# Experiment Settings, logger, plotter
from utils.exp_config import get_config
config = get_config('FinancialConfig')
config.multi_dataset = True
set_settings(config)
log_filename, exper_detail = get_experiment_name(config)
plotter = MetricsPlotter(log_filename, config)
log = Logger(log_filename, exper_detail, plotter, config)
datamodule = DataModule(config)
model = Model(config)

In [ ]:
import torch
import torch.nn as nn

# å‡è®¾è¾“å…¥
bs, seq_len, channels, dim = 16, 48, 33, 64
x_enc = torch.randn(bs, seq_len, channels, dim)

# å®šä¹‰ attention å±‚ï¼ˆæ—  batch_first å‚æ•°ï¼‰
attn_channel = nn.MultiheadAttention(embed_dim=dim, num_heads=8)  # expects (seq_len, batch, dim)
attn_time = nn.MultiheadAttention(embed_dim=dim, num_heads=8)

# ===== 1. è·¨é€šé“ attention =====
# åŸå§‹ x_enc: (bs, 48, 33, 64)
# è°ƒæ•´ä¸º (33, bs*48, 64)
x_enc_reshaped = x_enc.permute(2, 0, 1, 3).reshape(channels, bs * seq_len, dim)

# æ³¨æ„åŠ›ï¼šé€šé“ä¹‹é—´çš„ self-attention
x_channel_attn, _ = attn_channel(x_enc_reshaped, x_enc_reshaped, x_enc_reshaped)  # (33, bs*48, 64)

# è¿˜åŸä¸º (bs, 48, 33, 64)
x_channel_attn = x_channel_attn.reshape(channels, bs, seq_len, dim).permute(1, 2, 0, 3)

# ===== 2. è·¨æ—¶é—´ attention =====
# è°ƒæ•´ä¸º (48, bs*33, 64)
x_time_input = x_channel_attn.permute(1, 0, 2, 3).reshape(seq_len, bs * channels, dim)

# æ³¨æ„åŠ›ï¼šæ—¶é—´æ­¥ä¹‹é—´çš„ self-attention
x_time_attn, _ = attn_time(x_time_input, x_time_input, x_time_input)  # (48, bs*33, 64)

# è¿˜åŸä¸º (bs, 48, 33, 64)
x_time_attn = x_time_attn.reshape(seq_len, bs, channels, dim).permute(1, 0, 2, 3)

# æœ€ç»ˆè¾“å‡º
print(x_time_attn.shape)  # torch.Size([16, 48, 33, 64])

In [ ]:
from modules.backbone import Backbone
from run_train import *

from utils.exp_config import get_config
config = get_config()
# datamodule = DataModule(config)
# model = Model(datamodule, config)
model = Backbone(3, config)

In [ ]:
bs, seq_len, channels, dim = 1, 48, 33, 3
random_inputs = torch.rand(bs, seq_len, channels, dim)
y = model(random_inputs, None, None)
# [1, 48, 32, 3]

In [ ]:
bs, seq_len, channels, dim = 1, 48, 1, 3
random_inputs = torch.rand(bs, seq_len, channels, dim)
y = model(random_inputs, None, None)
# [1, 48, 32, 3]

In [ ]:
bs, seq_len, channels, dim = 1, 48, 16, 3
random_inputs = torch.rand(bs, seq_len, channels, dim)
y = model(random_inputs, None, None)
# [1, 48, 32, 3]

In [ ]:
import torch

x = torch.arange(2*3*4*10).reshape(2, 3, 4, 10)
patch_len = 4
stride = 2

x_unfolded = x.unfold(dimension=-1, size=patch_len, step=stride)
print(x_unfolded.shape)

In [ ]:
import os

# è¯»å–æ‰€æœ‰æ–‡ä»¶å
all_files = os.listdir('results/financial/20250701/log')

# æå–æ¯ä¸ªæ–‡ä»¶ä¸­ _Multi_ ä¸ .md ä¹‹é—´çš„æ•°å­—
existing_ids = set()
for filename in all_files:
    try:
        num = int(filename.split('_Multi_')[1].split('.md')[0])
        existing_ids.add(num)
    except (IndexError, ValueError):
        continue

# æ£€æŸ¥ 1-130 ä¸­ç¼ºå¤±çš„ç¼–å·
missing_ids = [i for i in range(0, 150) if i not in existing_ids]

print("ç¼ºå¤±çš„ç¼–å·ï¼š", missing_ids)

In [ ]:
import pickle 
from collections import Counter
data = pickle.load(open('./datasets/func_code_to_label_150.pkl', 'rb'))
# æå–ç»„å·åˆ—
group_ids = data[:, 1]

# ç»Ÿè®¡æ¯ä¸ªç»„å·çš„åŸºé‡‘æ•°é‡
counts = Counter(group_ids)

# æ‰“å°ç»“æœ
for group_id, count in sorted(counts.items()):
    print(f"ç»„å· {group_id} ä¸­æœ‰ {count} ä¸ªåŸºé‡‘")

In [1]:
import os 
import pickle
all_code = os.listdir('./datasets/financial/S20200713_E20250628')
all_code_len = []
for code in all_code:
    if code.endswith('.pkl'):
        with open(os.path.join('./datasets/financial/S20200713_E20250628', code), 'rb') as f:
            data = pickle.load(f)
            all_code_len.append(len(data))

FileNotFoundError: [Errno 2] No such file or directory: './datasets/financial/S20200713_E20250628'

In [ ]:
import numpy as np

# å‡è®¾ä½ å·²ç»æœ‰ all_code_len
all_code_len = np.array(all_code_len)

print(f"ğŸ“Š æ€»æ–‡ä»¶æ•°: {len(all_code_len)}")
print(f"ğŸ“ˆ æœ€å¤§é•¿åº¦: {np.max(all_code_len)}")
print(f"ğŸ“‰ æœ€å°é•¿åº¦: {np.min(all_code_len)}")
print(f"ğŸ“ å¹³å‡é•¿åº¦: {np.mean(all_code_len):.2f}")
print(f"ğŸ“ ä¸­ä½æ•°: {np.median(all_code_len)}")
print(f"ğŸ”¹ 5%åˆ†ä½æ•°: {np.percentile(all_code_len, 5)}")
print(f"ğŸ”¹ 6%åˆ†ä½æ•°: {np.percentile(all_code_len, 6)}")
print(f"ğŸ”¹ 10%åˆ†ä½æ•°: {np.percentile(all_code_len, 10)}")
print(f"ğŸ”¹ 25%åˆ†ä½æ•°: {np.percentile(all_code_len, 25)}")
print(f"ğŸ”¸ 75%åˆ†ä½æ•°: {np.percentile(all_code_len, 75)}")

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, text
import pickle
# æ•°æ®åº“é…ç½®
with open('./datasets/sql_token.pkl', 'rb') as f:
    DB_URI = pickle.load(f)
engine = create_engine(DB_URI)

def query_fund_data(fund, start_date, end_date):
    """æŸ¥è¯¢æ•°æ®åº“ä¸­æŸæ”¯åŸºé‡‘çš„å‡€å€¼æ•°æ®
        SELECT fund_code, date, nav, accnav, adj_nav
    """
    sql = text("""
        SELECT fund_code, date, accnav, adj_nav, nav
        FROM b_fund_nav_details_new
        WHERE fund_code IN :codes
          AND date BETWEEN :start AND :end
        ORDER BY date
    """)
    try:
        df = pd.read_sql_query(
            sql.bindparams(codes=tuple(fund), start=start_date, end=end_date),
            engine
        )
        fund_dict = {code: df_group.reset_index(drop=True)
                     for code, df_group in df.groupby("fund_code")}
        return fund_dict
    except Exception as e:
        print(f"[{fund}] æ•°æ®åº“æŸ¥è¯¢å¤±è´¥: {str(e)}")
        return pd.DataFrame()
df = query_fund_data(['000001', '000003'], '2020-01-01', '2025-01-01')

In [54]:
import numpy as np 
with open('./datasets/func_code_to_label_150.pkl', 'rb') as f:
    data = pickle.load(f)
data = data[:, 0]
df = query_fund_data(data, '2020-01-01', '2025-01-01')

In [57]:
min_value, max_value = 1e9, -1e9
for fund_code, value in df.items():
    min_value = min(min_value, value['nav'].min())
    max_value = max(max_value, value['nav'].max())
print(f"æœ€å°å€¼: {min_value}, æœ€å¤§å€¼: {max_value}")

æœ€å°å€¼: 0.0871, æœ€å¤§å€¼: 141.426

In [53]:
df

'970135'

In [ ]:
import numpy as np

def constrain_nav_prediction(predictions, bar=0.05, scale=0.9):
    """
    æ£€æµ‹å•ä½å‡€å€¼é¢„æµ‹ä¸­æ˜¯å¦å­˜åœ¨è¶…è¿‡barçš„ç›¸é‚»æ¶¨è·Œå¹…ï¼Œ
    å¦‚æœæ˜¯ï¼Œåˆ™æ•´æ¡åŸºé‡‘çš„å‡€å€¼åºåˆ—æŒ‰ç›¸å¯¹é¦–æ—¥å€¼é‡æ–°ç¼©æ”¾ï¼ˆæ¸©å’Œè°ƒæ•´ï¼‰

    å‚æ•°ï¼š
    - predictions: np.ndarray [7, 64]ï¼Œè¡¨ç¤º64æ”¯åŸºé‡‘7å¤©çš„é¢„æµ‹å•ä½å‡€å€¼
    - bar: floatï¼Œå•ä½å‡€å€¼æ—¥æ¶¨è·Œå¹…ä¸Šé™ï¼ˆå¦‚0.05è¡¨ç¤º5%ï¼‰
    - scale: floatï¼Œæ£€æµ‹å¼‚å¸¸åï¼Œä½¿ç”¨çš„è¶‹åŠ¿ç¼©æ”¾ç³»æ•°ï¼ˆå¦‚0.9ï¼‰

    è¿”å›ï¼š
    - adjusted: np.ndarray [7, 64]ï¼Œå¤„ç†åçš„å•ä½å‡€å€¼é¢„æµ‹
    - mask: np.ndarray [64]ï¼Œè¡¨ç¤ºå“ªäº›åŸºé‡‘è¢«ç¼©æ”¾ï¼ˆTrueä¸ºç¼©æ”¾ï¼‰
    """
    adjusted = predictions.copy()
    mask = np.zeros(predictions.shape[1], dtype=bool)
    for fund_idx in range(predictions.shape[1]):
        nav_series = predictions[:, fund_idx]
        # è®¡ç®—ç›¸é‚»æ¶¨è·Œå¹…
        returns = nav_series[1:] / nav_series[:-1] - 1
        if np.any(np.abs(returns) > bar):
            # ä»¥é¦–æ—¥ä¸ºé”šç‚¹ï¼Œé‡æ„æ¸©å’Œæ›²çº¿
            # 	â€¢	ä»¥é¦–æ—¥å€¼ä¸ºé”šç‚¹ï¼Œè®¡ç®—æ•´ä¸ªåºåˆ—ç›¸å¯¹äºé¦–æ—¥çš„ç´¯è®¡å˜åŒ–å¹…åº¦ï¼›
	        #   â€¢	ç„¶åå°†è¿™äº›ç´¯è®¡å˜åŒ–å¹…åº¦ä¹˜ä»¥ scaleï¼ˆæ¯”å¦‚0.9ï¼‰ï¼Œå½¢æˆæ¸©å’Œç‰ˆæœ¬ï¼›
	        #   â€¢	æœ€åç”¨ base * (1 + ç›¸å¯¹å˜åŒ– * ç¼©æ”¾å› å­) å¾—åˆ°ç¼©æ”¾åçš„å•ä½å‡€å€¼æ›²çº¿ï¼›
	        #   â€¢	æ›´æ–° adjusted å’Œ maskã€‚
            base = nav_series[0]
            relative_change = (nav_series - base) / base
            softened = base * (1 + relative_change * scale)
            adjusted[:, fund_idx] = softened
            mask[fund_idx] = True
    return adjusted, mask

# æ¨¡æ‹Ÿå•ä½å‡€å€¼é¢„æµ‹ï¼ˆä¸­é—´äººä¸ºæ’å…¥ä¸€ä¸ªå¼‚å¸¸ï¼‰
np.random.seed(0)
preds = np.cumprod(1 + np.random.normal(0, 0.01, (7, 1)), axis=0)
preds[:, 0] *= [1, 1, 1.2, 1.5, 1.7, 10.0, 2.5]  # ç¬¬6æ”¯åŸºé‡‘å¼‚å¸¸æš´æ¶¨

In [25]:
preds.reshape(-1)

array([ 1.01764052,  1.02171269,  1.23805509,  1.58224823,  1.82670398,
       10.64030593,  2.68534956])

In [ ]:
adjusted, flagged = constrain_nav_prediction(preds, bar=1, scale=0.5)
print(f"è¢«ç¼©æ”¾çš„åŸºé‡‘ç¼–å·ï¼š{np.where(flagged)[0]}")

è¢«ç¼©æ”¾çš„åŸºé‡‘ç¼–å·ï¼š[0]

In [27]:
adjusted.reshape(-1)

array([1.01764052, 1.0196766 , 1.12784781, 1.29994438, 1.42217225,
       5.82897323, 1.85149504])

In [1]:
240 * 4

960

In [ ]:
import os
start_date: str = '2020-07-13' 
end_date: str = '2025-06-28'
dir_name = 'S' + (start_date + '_E' + end_date).replace('-', '')
all_address = os.listdir(f'./datasets/financial/{dir_name}')
all_code_list = [item.split('.')[0] for item in all_address]
len(all_code_list)

11674

In [7]:
import pickle 
with open('./datasets/all_code_list.pkl', 'wb') as f:
    pickle.dump(all_code_list, f)

In [2]:
240 * 4

960

In [ ]:
from data_provider.get_nav_features import get_df_date_as_index

df = get_df_date_as_index("000010", "2025-03-01", "2025-4-14")
df.columns

Index(['fund_code', 'adj_nav', 'bid_close', 'ask_close', 'gdp', 'gdp_yoy',
       'pi_yoy', 'si_yoy', 'ti_yoy', '1w', '2w', '1m', '3m', '6m', '9m', '1y',
       'cumulative', 'annual_volatility', 'stability', 'monthwin',
       'winning_day', 'maxDrawdown'],
      dtype='object')

In [20]:
import numpy as np 
import pickle 
import pandas as pd
from sqlalchemy import create_engine, text

# æ•°æ®åº“é…ç½®
with open('./datasets/sql_token.pkl', 'rb') as f:
    DB_URI = pickle.load(f)
engine = create_engine(DB_URI)

create_date = '2023-7-13'
date_list = create_date.split('-')
base_date = str(int(date_list[0]) - 1) + '-' + date_list[1] + '-' + date_list[2]  # ç­›é€‰æˆç«‹1å¹´ä»¥ä¸Šçš„åŸºé‡‘
first_date = str(int(date_list[0]) - 2) + '-' + date_list[1] + '-' + date_list[2]  # ç­›é€‰æˆç«‹1-2å¹´çš„åŸºé‡‘
second_date = str(int(date_list[0]) - 3) + '-' + date_list[1] + '-' + date_list[2]  # ç­›é€‰æˆç«‹2-3å¹´çš„åŸºé‡‘
# print(base_date, first_date, second_date)
sql = f"""
    SELECT fund_code, fund_name, market, survival_status, tu_fund_type, establish_time, tu_invest_type
    FROM b_fund_list
    WHERE establish_time < '{base_date}' AND fund_code IN (
        SELECT fund_code FROM b_fund_nav
            WHERE date = (
                SELECT MAX(date) FROM b_fund_nav
            )
            AND sub_status NOT LIKE '%%æš‚åœç”³è´­%%' 
            AND red_status NOT LIKE '%%å°é—­æœŸ%%'
        )
    """
sql = f"""
    SELECT fund_code, fund_name, market, survival_status, tu_fund_type, establish_time, tu_invest_type
    FROM b_fund_list
    WHERE establish_time < '{base_date}'
    AND fund_code IN (
        SELECT fund_code FROM b_fund_nav
        WHERE date = (SELECT MAX(date) FROM b_fund_nav)
        AND sub_status NOT LIKE '%%æš‚åœç”³è´­%%'
        AND red_status NOT LIKE '%%å°é—­æœŸ%%'
    )
    """
df = pd.read_sql_query(sql, engine)
print(df.shape)  # æ‰“å°dfçš„å½¢çŠ¶ï¼Œç¡®è®¤æ˜¯å¦æœ‰æ•°æ®
df

(323, 7)

,fund_code,fund_name,market,survival_status,tu_fund_type,establish_time,tu_invest_type
0,159901,æ˜“æ–¹è¾¾æ·±è¯100ETF,E,L,è‚¡ç¥¨å‹,2006-03-24,è¢«åŠ¨æŒ‡æ•°å‹
1,159915,æ˜“æ–¹è¾¾åˆ›ä¸šæ¿ETF,E,L,è‚¡ç¥¨å‹,2011-09-20,è¢«åŠ¨æŒ‡æ•°å‹
2,159925,å—æ–¹æ²ªæ·±300ETF,E,L,è‚¡ç¥¨å‹,2013-02-18,è¢«åŠ¨æŒ‡æ•°å‹
3,159930,æ±‡æ·»å¯Œä¸­è¯èƒ½æºETF,E,L,è‚¡ç¥¨å‹,2013-08-23,è¢«åŠ¨æŒ‡æ•°å‹
4,159931,æ±‡æ·»å¯Œä¸­è¯é‡‘èåœ°äº§ETF,E,L,è‚¡ç¥¨å‹,2013-08-23,è¢«åŠ¨æŒ‡æ•°å‹
...,...,...,...,...,...,...,...
318,588360,ç§‘åˆ›åˆ›ä¸šETF,E,L,è‚¡ç¥¨å‹,2021-06-29,è¢«åŠ¨æŒ‡æ•°å‹
319,159783,åŒåˆ›åŸºé‡‘ETF,E,L,è‚¡ç¥¨å‹,2021-06-24,è¢«åŠ¨æŒ‡æ•°å‹
320,159781,åŒåˆ›50ETF,E,L,è‚¡ç¥¨å‹,2021-06-28,è¢«åŠ¨æŒ‡æ•°å‹
321,159780,åŒåˆ›ETF,E,L,è‚¡ç¥¨å‹,2021-06-24,è¢«åŠ¨æŒ‡æ•°å‹
322,159839,ç”Ÿç‰©è¯ETF,E,L,è‚¡ç¥¨å‹,2021-02-01,è¢«åŠ¨æŒ‡æ•°å‹

In [ ]:

# å‰”é™¤å®šå¼€ã€è´§å¸å‹åŸºé‡‘
df = df[df['survival_status'] != 'D']
df = df[~df['fund_name'].str.contains('å®šå¼€')]
df = df[~(df['tu_fund_type'] == 'è´§å¸å¸‚åœºå‹')]
df = df.drop(['fund_name'], axis=1)
df = df.drop(['survival_status'], axis=1)

# æŒ‰æˆç«‹æ—¶é—´åˆ’åˆ†ï¼Œ3ç±»ï¼š1-2å¹´ï¼Œ2-3å¹´ï¼Œ3å¹´ä»¥ä¸Š
df['establish_time'] = pd.to_datetime(df['establish_time'], format='%Y-%m-%d')
df.loc[df['establish_time'] > first_date, 'establish_type'] = 1
df.loc[(df['establish_type'] != 1) & (df['establish_time'] > second_date), 'establish_type'] = 2
df.loc[(df['establish_type'] != 1) & (df['establish_type'] != 2), 'establish_type'] = 3
df = df.drop(['establish_time'], axis=1)

# åˆ’åˆ†åŸºé‡‘ç±»å‹ï¼Œäº”ç±»ï¼šstock/bond/index(O or E)/other/mix
df.loc[(df['tu_invest_type'] == 'è¢«åŠ¨æŒ‡æ•°å‹') & (df['market'] == 'O'), 'tu_fund_type'] = 'index_O'
df.loc[(df['tu_invest_type'] == 'è¢«åŠ¨æŒ‡æ•°å‹') & (df['market'] == 'E'), 'tu_fund_type'] = 'index_E'
df.loc[df['tu_fund_type'] == 'è‚¡ç¥¨å‹', 'tu_fund_type'] = 'stock'
df.loc[df['tu_fund_type'] == 'å€ºåˆ¸å‹', 'tu_fund_type'] = 'bond'
df.loc[df['tu_fund_type'] == 'æ··åˆå‹', 'tu_fund_type'] = 'mix'
df.loc[(df['tu_fund_type'] != 'stock') & (df['tu_fund_type'] != 'bond') &
        (df['tu_fund_type'] != 'mix') & (df['tu_fund_type'] != 'index_E') &
        (df['tu_fund_type'] != 'index_O'), 'tu_fund_type'] = 'other'

df = df.drop(['tu_invest_type'], axis=1)
df = df.drop(['market'], axis=1)
code_list = df['fund_code']

# 2025å¹´07æœˆ04æ—¥20:10:32ï¼Œæš‚æ—¶ç”¨è¿™é‡Œ
with open('./datasets/all_code_list.pkl', 'rb') as f:
    code_list = pickle.load(f)

In [ ]:
date_list = create_date.split('-')
base_date = str(int(date_list[0])-1)+'-'+date_list[1]+'-'+date_list[2]  # ç­›é€‰æˆç«‹1å¹´ä»¥ä¸Šçš„åŸºé‡‘
first_date = str(int(date_list[0])-2)+'-'+date_list[1]+'-'+date_list[2] # ç­›é€‰æˆç«‹1-2å¹´çš„åŸºé‡‘
second_date = str(int(date_list[0])-3)+'-'+date_list[1]+'-'+date_list[2] # ç­›é€‰æˆç«‹2-3å¹´çš„åŸºé‡‘
print("base date ",base_date)
# sql = f"select fund_code, fund_name, survival_status,tu_fund_type from b_fund_list WHERE establish_time < '{base_date}'"
# è·å–ä»¥ä»Šå¤©ä¸ºç•Œçš„æˆç«‹ä¸€å¹´ä»¥ä¸Šçš„ä»åœ¨æ¯å¤©æ›´æ–°æ•°æ®çš„åŸºé‡‘
sql = f"select fund_code, fund_name, market, survival_status,tu_fund_type,establish_time,tu_invest_type from b_fund_list WHERE establish_time < '{base_date}' )"
# print(sql)
df = pd.read_sql_query(sql, engine)
print(df.shape)
# å‰”é™¤å®šå¼€ã€è´§å¸å‹åŸºé‡‘
df=df[df['survival_status']!='D']
df=df[~df['fund_name'].str.contains('å®šå¼€')]
df=df[~(df['tu_fund_type'] == 'è´§å¸å¸‚åœºå‹')]
df = df.drop(['fund_name'], axis=1)
df = df.drop(['survival_status'], axis=1)

# æŒ‰æˆç«‹æ—¶é—´åˆ’åˆ†ï¼Œ3ç±»ï¼š1-2å¹´ï¼Œ2-3å¹´ï¼Œ3å¹´ä»¥ä¸Š
df['establish_time'] = pd.to_datetime(df['establish_time'], format='%Y-%m-%d')
df.loc[df['establish_time'] > first_date, 'establish_type'] = 1
df.loc[(df['establish_type'] != 1) & (df['establish_time'] > second_date), 'establish_type'] = 2
df.loc[(df['establish_type'] != 1) & (df['establish_type'] != 2), 'establish_type'] = 3
df = df.drop(['establish_time'], axis=1)

# åˆ’åˆ†åŸºé‡‘ç±»å‹ï¼Œäº”ç±»ï¼šstock/bond/index(O or E)/other/mix
df.loc[(df['tu_invest_type'] == 'è¢«åŠ¨æŒ‡æ•°å‹') & (df['market'] == 'O'), 'tu_fund_type'] = 'index_O'
df.loc[(df['tu_invest_type'] == 'è¢«åŠ¨æŒ‡æ•°å‹') & (df['market'] == 'E'), 'tu_fund_type'] = 'index_E'
df.loc[df['tu_fund_type'] == 'è‚¡ç¥¨å‹', 'tu_fund_type'] = 'stock'
df.loc[df['tu_fund_type'] == 'å€ºåˆ¸å‹', 'tu_fund_type'] = 'bond'
df.loc[df['tu_fund_type'] == 'æ··åˆå‹', 'tu_fund_type'] = 'mix'
df.loc[(df['tu_fund_type'] != 'stock') & (df['tu_fund_type'] != 'bond') & (df['tu_fund_type'] != 'mix') & (df['tu_fund_type'] != 'index_E') & (df['tu_fund_type'] != 'index_O'), 'tu_fund_type'] = 'other'
df = df.drop(['tu_invest_type'], axis=1)
df = df.drop(['market'], axis=1)

base date  2022-7-13

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ')' at line 1")
[SQL: select fund_code, fund_name, market, survival_status,tu_fund_type,establish_time,tu_invest_type from b_fund_list WHERE establish_time < '2022-7-13')]
(Background on this error at: https://sqlalche.me/e/20/f405)