In [41]:
import json
from sqlalchemy import create_engine, text
import pandas as pd

# 数据库配置
import pickle
with open('./datasets/sql_token.pkl', 'rb') as f:
    DB_URI = pickle.load(f)

engine = create_engine(DB_URI)
DATA_JSON_PATH = './datasets/data.json'

# 加载分类数据
with open(DATA_JSON_PATH) as f:
    group_map = json.load(f)

In [42]:
group_map['stock1']

[{'tu_type': 'stock',
  'year': 1,
  'industry_code': '340000',
  'code_list': ['561300',
   '561990',
   '159610',
   '014831',
   '014832',
   '014125',
   '014126',
   '013355',
   '013926',
   '013927',
   '013291',
   '015075',
   '012158',
   '014634',
   '014635',
   '012157',
   '014372',
   '013031',
   '013032',
   '016134',
   '011349',
   '011350',
   '012214',
   '015123',
   '012215',
   '015124',
   '015617',
   '015618',
   '015475',
   '013152',
   '014864',
   '015195',
   '015194',
   '012341',
   '012340',
   '015085',
   '015086',
   '014139',
   '014453',
   '014140',
   '015484',
   '015754',
   '014364']},
 {'tu_type': 'stock',
  'year': 1,
  'industry_code': '630000',
  'code_list': ['561990',
   '014536',
   '016052',
   '015157',
   '015149',
   '015148',
   '014863',
   '014192',
   '013331',
   '014191',
   '015466',
   '015467',
   '013641',
   '013642',
   '015172',
   '970042',
   '013005',
   '013004',
   '005627',
   '014063',
   '014062',
   '016050',
   '015060',
   '015048',
   '011934',
   '011935',
   '012901',
   '012900',
   '015159',
   '014299',
   '014300',
   '014218',
   '014219',
   '011589',
   '011590',
   '012213',
   '012212',
   '011883',
   '011882',
   '014416',
   '014417',
   '013049',
   '013050',
   '015641',
   '015642',
   '015002',
   '013817',
   '013151',
   '013816',
   '014237',
   '014238',
   '015170',
   '015197',
   '015196',
   '012329',
   '012328',
   '014937',
   '014902',
   '014903',
   '012496',
   '012497',
   '015608',
   '011793',
   '014455',
   '013188',
   '013511']},
 {'tu_type': 'stock',
  'year': 1,
  'industry_code': '270000',
  'code_list': ['560100',
   '015593',
   '012320',
   '012319',
   '013339',
   '013340',
   '014418',
   '014419',
   '016052',
   '014193',
   '014194',
   '013869',
   '013870',
   '014587',
   '014588',
   '015773',
   '013242',
   '014854',
   '014855',
   '013465',
   '013466',
   '013005',
   '013004',
   '015075',
   '013622',
   '014299',
   '014300',
   '015199',
   '015198',
   '014377',
   '014376',
   '012496',
   '012497',
   '012696',
   '012697']},
 {'tu_type': 'stock',
  'year': 1,
  'industry_code': '370000',
  'code_list': ['012045',
   '012046',
   '016018',
   '014820',
   '014821',
   '008923',
   '008924',
   '015171',
   '014121',
   '014122',
   '005626',
   '015052',
   '015053',
   '012401',
   '012402',
   '014046',
   '014206',
   '014205',
   '014758',
   '014932',
   '015139',
   '015140',
   '013940',
   '013941',
   '013639',
   '013640',
   '014133',
   '014134',
   '015507',
   '013878',
   '013879',
   '015508',
   '014930',
   '013881',
   '015453',
   '015454',
   '013442',
   '013926',
   '013927',
   '014305',
   '014306',
   '014218',
   '014219',
   '013899',
   '013900',
   '015115',
   '015114']},
 {'tu_type': 'stock',
  'year': 1,
  'industry_code': '710000',
  'code_list': ['013869',
   '013870',
   '016050',
   '013262',
   '015199',
   '015198',
   '012930',
   '014453',
   '012321',
   '012322',
   '015001',
   '013133',
   '013132']},
 {'tu_type': 'stock',
  'year': 1,
  'industry_code': '220000',
  'code_list': ['014201',
   '014202',
   '014344',
   '014345',
   '015495',
   '015496',
   '013613',
   '015225',
   '015226',
   '012498',
   '012499',
   '015588']},
 {'tu_type': 'stock',
  'year': 1,
  'industry_code': '480000',
  'code_list': ['013233',
   '013234',
   '013355',
   '014198',
   '501219',
   '011225',
   '011224',
   '014187',
   '014188',
   '012912',
   '012911',
   '013490',
   '013491']},
 {'tu_type': 'stock',
  'year': 1,
  'industry_code': '640000',
  'code_list': ['561550',
   '012835',
   '012836',
   '014185',
   '014186',
   '012926',
   '012927',
   '015608',
   '015115',
   '015114',
   '015364',
   '014155',
   '014156',
   '013919',
   '013332',
   '014967',
   '014382',
   '015784',
   '015785',
   '014736',
   '014737',
   '015001',
   '013918',
   '012416',
   '012415',
   '011107',
   '013490',
   '013491',
   '015679',
   '011108',
   '015387',
   '015388',
   '011793',
   '015686',
   '014455',
   '501218',
   '013933',
   '015484',
   '015754',
   '014064',
   '013942',
   '013943',
   '015588',
   '501217',
   '015468',
   '014079',
   '160326',
   '014092',
   '013505',
   '501216',
   '013932',
   '013188',
   '013133',
   '013132',
   '013479',
   '014380',
   '014256',
   '011836',
   '014052',
   '014163',
   '014364',
   '012696',
   '012697',
   '013511',
   '015395']}]

In [45]:
# 遍历所有股票类别
for group_idx, (group_name, group_list) in enumerate(group_map.items()):
    for group_data in group_list:
        code_list = group_data['code_list']
        sql = text(f"SELECT fund_code, date, nav, accnav, adj_nav FROM b_fund_nav_details_new WHERE fund_code IN :codes AND date BETWEEN :start AND :end ORDER BY date")
        df = pd.read_sql_query(
            sql.bindparams(codes=tuple(code_list), start='2020-07-13', end='2025-03-8'),
            engine
        )
        print(code_list)
        break
    break
df

['561300', '561990', '159610', '014831', '014832', '014125', '014126', '013355', '013926', '013927', '013291', '015075', '012158', '014634', '014635', '012157', '014372', '013031', '013032', '016134', '011349', '011350', '012214', '015123', '012215', '015124', '015617', '015618', '015475', '013152', '014864', '015195', '015194', '012341', '012340', '015085', '015086', '014139', '014453', '014140', '015484', '015754', '014364']

      fund_code        date     nav  accnav adj_nav
0        013152  2021-08-12  1.9100  1.9100    None
1        013152  2021-08-13  1.9016  1.9016    None
2        013152  2021-08-16  1.9089  1.9089    None
3        013152  2021-08-17  1.8223  1.8223    None
4        013152  2021-08-18  1.8289  1.8289    None
...         ...         ...     ...     ...     ...
31778    014453  2025-03-07  0.7990  0.7990    None
31779    014634  2025-03-07  0.9257  0.9257    None
31780    014635  2025-03-07  0.9105  0.9105    None
31781    014831  2025-03-07  0.9519  0.9519    None
31782    014832  2025-03-07  0.9461  0.9461    None

[31783 rows x 5 columns]

In [44]:
pred_value = 'accnav'
sql = text(f"SELECT fund_code, date, nav, accnav, adj_nav FROM b_fund_nav_details_new WHERE fund_code IN :codes AND date BETWEEN :start AND :end ORDER BY date")
df = pd.read_sql_query(
    sql.bindparams(codes=tuple(['013152']), start='2020-07-13', end='2025-03-8'),
    engine
)
df

    fund_code        date     nav  accnav adj_nav
0      013152  2021-08-12  1.9100  1.9100    None
1      013152  2021-08-13  1.9016  1.9016    None
2      013152  2021-08-16  1.9089  1.9089    None
3      013152  2021-08-17  1.8223  1.8223    None
4      013152  2021-08-18  1.8289  1.8289    None
..        ...         ...     ...     ...     ...
860    013152  2025-03-03  1.0584  1.0584    None
861    013152  2025-03-04  1.0469  1.0469    None
862    013152  2025-03-05  1.0460  1.0460    None
863    013152  2025-03-06  1.0603  1.0603    None
864    013152  2025-03-07  1.0735  1.0735    None

[865 rows x 5 columns]

In [1]:
import pickle
with open('./013160.pkl', 'rb') as f:
    df = pickle.load(f)
df

array([['013160', '2021', '9', '22', '2', '1.0'],
       ['013160', '2021', '9', '23', '3', '1.0'],
       ['013160', '2021', '9', '24', '4', '0.9889'],
       ...,
       ['013160', '2025', '2', '25', '1', '0.4268'],
       ['013160', '2025', '2', '26', '2', '0.4308'],
       ['013160', '2025', '2', '27', '3', '0.4264']], dtype='<U32')

In [2]:
import torch
import torch.nn.functional as F

# 输入两个概率分布（注意要归一化）
p = torch.tensor([0.4, 0.6])
q = torch.tensor([0.5, 0.5])

# KL(p || q) = sum(p * log(p / q)) = sum(p * (log(p) - log(q)))
kl = F.kl_div(torch.log(q), p, reduction='sum')
print(kl)  # 输出的是一个标量

tensor(0.0201)